.radial-box {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1000;
  border-radius: 50%;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #d6d6d6 0%,
    rgba(217, 217, 217, 0) 100%
  );
  transition: left 0.1s ease, top 0.1s ease;
}
