header {
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  padding: 5% 3%;
  position: sticky;
  top: 0;
}

.sidebar-name {
  font-size: 3rem;
  font-weight: 900;
}

.sidebar-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75;
}

.sidebar-summary {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  color: var(--muted-text-col);
  max-width: 20rem;
}

nav {
  margin-top: 4rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-top: 1rem;
}

nav ul li a {
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--muted-text-col);
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}

.sidebar-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-socials a {
  color: var(--muted-text-col);
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.2s ease;
}

.sidebar-socials a:hover {
  color: var(--primary-col);
}

nav ul li a span {
  width: 2rem;
  height: 1px;
  background: var(--muted-text-col);
  display: inline-block;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
}

.active-tab,
nav ul li a:hover {
  color: var(--primary-col);
  font-weight: 700;
}

.active-indicator,
nav ul li a:hover span {
  width: 3.5rem;
  height: 1.1px;
  background-color: var(--primary-col);
}

.lang-section {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.lang-section p {
  cursor: pointer;
  font-size: 0.85rem;
  color: var(--muted-text-col);
}

@media (max-width: 599px) {
  header {
    width: auto;
    min-height: auto;
    position: relative;
  }

  .sidebar-socials {
    margin-top: 1.5rem;
  }
}
